/*
 * Containers
 */
 
#main-container {
    width: 1000px;
    padding-top: 40px;
}

.liw-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

/*
 * Letter boxes
 */

.liw-box-outer {
    display: inline-block;
    width: 150px;
    min-height: 150px;

    line-height: 150px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;

    border-radius: 5px;
    font-size: 80px;
}

.liw-box-inner {
    width: 100px;
    min-height: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}

/*
 * Formed word
 */

.liw-word-container {
    width: 450px;
    height: 100px;
    position: relative;
    margin: auto;
}

.liw-word {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;

    z-index: 10;
}

.liw-word-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.liw-word-solutions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: justify;
}

#liw-word-actual, #liw-word-actual-overlay {
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

#liw-word-actual-solutions {
    font-size: 20px;
}

/*
 * Timer
 */
.liw-sidebar {
    float: right;
    width: 200px;
    height: 450px;
    margin-top: 60px;
    line-height: 25px;
    text-align: center;
}

.liw-timer-seconds, .liw-score-points {
    font-size: 80px;
}

.liw-score-max {
    font-size: 30px;
}
.liw-timer-text, .liw-score-text {
    font-size: 14px;
}

/*
 * Misc.
 */

.liw-free {
    background-color: #eee;
}

.liw-selected {
    background-color: #59e;
}

.liw-success {
    color: #3e6;
}

.liw-fail {
    color: #e24;
}

.liw-clear-float {
    clear: both;
}

.no-display {
    display: none;
}

.no-float {
    clear: both;
}