/*
 * Containers
 */
 
#main-container {
    width: 1000px;
    padding-top: 10px;
}

.liw-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

/*
 * Letter box display
 */

.liw-box-outer {
    display: inline-block;
    width: 150px;
    min-height: 150px;

    line-height: 150px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;

    border-radius: 5px;
    font-size: 80px;
    text-transform: uppercase;
}

.liw-box-inner {
    width: 100px;
    min-height: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}

/*
 * Formed word display
 */

.liw-word-container {
    width: 450px;
    height: 120px;
    position: relative;
    margin: auto;
}

.liw-word, .liw-word-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 20px;
    top: 0px;
    left: 0px;
    text-align: center;
}

.liw-word {
    z-index: 10;
}

.liw-word-solutions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: justify;
    vertical-align: middle;
    font-size: 20px;
}

#liw-word-actual, #liw-word-actual-overlay {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}

/*
 * Timer and score display
 */

.liw-sidebar {
    float: right;
    width: 200px;
    height: 450px;
    margin-top: 60px;
    line-height: 25px;
    text-align: center;
}

.liw-timer-seconds, .liw-score-points {
    font-size: 80px;
}

.liw-score-max {
    font-size: 30px;
}
.liw-timer-text, .liw-score-text {
    font-size: 14px;
}

/*
 * Start button
 */
.liw-start {
    padding-top: 20px;
}

/*
 * Color theme
 */

.liw-free { background-color: #eee; }
.liw-selected { background-color: #59e; }

.liw-found { color: #ccc; }
.liw-missed { color: #333;}

/*
 * Misc.
 */

.no-display { display: none; }
.no-float { clear: both; }