/*
 * Containers
 */
 
#main-container {
    width: 1000px;
    padding-top: 10px;
}

.liw-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

/*
 * Letter box display
 */

.liw-box-outer {
    display: inline-block;
    width: 130px;
    min-height: 130px;

    line-height: 130px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;

    border-radius: 5px;
    font-size: 70px;
    text-transform: uppercase;
}

.liw-box-inner {
    width: 100px;
    min-height: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

/*
 * Formed word display
 */

.liw-word-container {
    width: 450px;
    height: 120px;
    position: relative;
    margin: auto;
}

.liw-word, .liw-word-overlay {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    text-align: center;
}

.liw-word {
    z-index: 10;
}

#liw-word-actual, #liw-word-actual-overlay {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

/*
 * Sidebars
 */

.liw-sidebar-right {
    float: right;
    margin-right: 10px;
    width: 200px;
    height: 450px;
    line-height: 20px;
    padding-top: 45px;
    text-align: center;
}

.liw-sidebar-left {
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    width: 80px;
    height: 450px;
    padding-top: 0px;
    text-align: right;
}

.liw-checkbox {
    text-align: center;
}

/*
 * Timer and score display
 */

.liw-timer-seconds, .liw-found-words, .liw-score-points {
    font-size: 70px;
}
.liw-found-words-max, .liw-score-percent {
    font-size: 30px;
}
.liw-timer-text, .liw-score-text {
    font-size: 14px;
}
.liw-sidebar-right-space {
    height: 50px;
}

/*
 * Solution boxes
 */

.liw-word-solutions {
    display: inline-table;
    vertical-align: middle;
    position: absolute;
    font-size: 16px;
}
.liw-solution-box {
    display: inline-block;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
}
.liw-found { 
    background-color: #bea;
}
.liw-missed { 
    background-color: #fab;
}

/*
 * Color theme
 */

.liw-free { background-color: #eee; }
.liw-selected { background-color: #59e; }


/*
 * Misc.
 */

.no-display { display: none; }
.no-float { clear: both; }