<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="liw-alert navbar-default navbar-fixed-top no-display">
            <div class="liw-alert-hide">
                <a id="liw-alert-x" href="#">×</a>
            </div>
            <div class="text-center">
                {{ l["remove_msg_pre"] }}<span id="liw-alert-removed-word"></span>{{ l["remove_msg_post"] }}
                <a id="liw-alert-undo" href="#">{{ l["undo"] }}</a>
            </div>
        </div>
        <div class="liw-main-container container">
            <div class="liw-overlay-container">
                <div id="liw-word-real" class="liw-word"></div>
                <div id="liw-word-result" class="liw-word"></div>
                <div class="liw-solution-container">
                    <div class="liw-solutions"></div>
                </div>
            </div>
            <div class="row no-pad">
                <div class="col-md-2 col-md-offset-1">
                    <div class="liw-left-side">
                        <div class="form-horizontal">
                            <div class="form-group liw-pre-game">
                                <div class="input-group">
                                    <input id="liw-game-length" type="text" 
                                        class="form-control" placeholder="2">
                                    <span class="input-group-addon">{{ l["min"] }}</span>
                                </div>
                            </div>
                            <div class="form-group liw-pre-game">
                                <button id="liw-start-button" class="btn btn-info form-control">
                                    {{ l["new_game"] }}
                                </button>
                            </div>
                            <div class="form-group liw-post-game no-display">
                                <button id="liw-stop-button" class="btn btn-info form-control">
                                    {{ l["stop_game"] }}
                                </button>
                            </div>
                            <div class="form-group liw-post-game no-display">
                                <button id="liw-shuffle-button" class="btn btn-info form-control">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="liw-grid">
                        {% for item in range(9) %}
                            <div id="liw-id-{{ item % 3 }}-{{ item // 3 }}" 
                                class="liw-cell-outer liw-free" 
                                data-x="{{ item % 3}}" data-y="{{ item // 3}}">
                                <div class="liw-cell-inner">&nbsp;</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="liw-right-side">
                        <div class="liw-score">
                            <div class="liw-score-line">
                                <span id="liw-time-value" class="liw-text-large">0</span>
                                <span class="liw-text-medium">&nbsp;</span>
                            </div>
                            <div class="liw-text-small">{{ l["seconds"] }}</div>
                        </div>
                        <div class="liw-score">
                            <div class="liw-score-line">
                                <span id="liw-words-found" class="liw-text-large">0</span>
                                <span class="liw-text-medium">
                                    /<span id="liw-words-max">0</span>
                                </span>
                            </div>
                            <div class="liw-text-small">{{ l["words"] }}</div>
                        </div>
                        <div class="liw-score">
                            <div class="liw-score-line">
                                <span id="liw-score-value" class="liw-text-large">0</span>
                                <span class="liw-text-medium">%</span>
                            </div>
                            <div class="liw-text-small">{{ l["percent"] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

        <script src="{{ url_for('static', filename='js/liwords.js') }}" 
            type='text/javascript'></script>
    </body>
</html> 